In [51]:
import pandas as pd
import numpy as np

data = {
    'Name' : ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age':[25 ,30, None, 28, 24],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'Math_Score':[85, 92, 78, 88, 76],
    'Science_Score':[90, None, 85, 92, 88],
    'Passed_Exam':['Yes', 'Yes', 'No', 'Yes', 'No']
}
df = pd.DataFrame(data)
print(df)

      Name   Age  Gender  Math_Score  Science_Score Passed_Exam
0    Alice  25.0  Female          85           90.0         Yes
1      Bob  30.0    Male          92            NaN         Yes
2  Charlie   NaN    Male          78           85.0          No
3    David  28.0    Male          88           92.0         Yes
4    Emily  24.0  Female          76           88.0          No

In [52]:
meanAge=np.floor(df['Age'].mean())
print(meanAge)
df['Age'].fillna(meanAge, inplace = True)
print(df)

26.0
      Name   Age  Gender  Math_Score  Science_Score Passed_Exam
0    Alice  25.0  Female          85           90.0         Yes
1      Bob  30.0    Male          92            NaN         Yes
2  Charlie  26.0    Male          78           85.0          No
3    David  28.0    Male          88           92.0         Yes
4    Emily  24.0  Female          76           88.0          No

C:\Users\parth\AppData\Local\Temp\ipykernel_19004\2665016841.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(meanAge, inplace = True)

In [55]:
meanSci= np.floor(df['Science_Score'].mean())
df['Science_Score'].fillna(meanSci, inplace = True)
print(df)

      Name   Age  Gender  Math_Score  Science_Score Passed_Exam
0    Alice  25.0  Female          85           90.0         Yes
1      Bob  30.0    Male          92           88.0         Yes
2  Charlie  26.0    Male          78           85.0          No
3    David  28.0    Male          88           92.0         Yes
4    Emily  24.0  Female          76           88.0          No

C:\Users\parth\AppData\Local\Temp\ipykernel_19004\672989594.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Science_Score'].fillna(meanSci, inplace = True)

In [70]:
# Create dataframe from a list of dictionaries

In [71]:
data2 = [
    {"name": "John Doe", "age": 30},
    {"name": "Jane Smith", "age": 25},
    {"name": "Sam Brown", "age": 22},
    {"name": "Lisa White", "age": 28},
    {"name": "Mike Johnson", "age": 35}
]
df_data2 = pd.DataFrame(data2)
print(df_data2)

           name  age
0      John Doe   30
1    Jane Smith   25
2     Sam Brown   22
3    Lisa White   28
4  Mike Johnson   35

In [59]:
#Create dataframe from a list of Lists

In [63]:
data3 = [
    [12,3,4,6,5],
    [2, 4 ,23, 44, 21],
    [1,2,3,11,22],
]
df_data3 = pd.DataFrame(data3)
print(df_data3)

    0  1   2   3   4
0  12  3   4   6   5
1   2  4  23  44  21
2   1  2   3  11  22

In [64]:
#Create dataframe from numpy Array

In [72]:
# Numpy array
nparray = np.array([1,2,3,4,5,11,22,33,44,55,111,222,333,444,555])
# Pandas DataFrame
df_data4 = pd.DataFrame(nparray)
print(nparray)
print(df_data4)

[  1   2   3   4   5  11  22  33  44  55 111 222 333 444 555]
      0
0     1
1     2
2     3
3     4
4     5
5    11
6    22
7    33
8    44
9    55
10  111
11  222
12  333
13  444
14  555